* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b2330;
  font-family: "Raleway";
  font-style: normal;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.nav__list {
  width: 300px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.header-logo-link,
.nav__link {
  transition: 0.3s all ease;
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.nav__link:hover {
  font-weight: 700;
  text-decoration-line: underline;
}

.hero .container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__heading,
.hero__paragraph {
  padding-top: 35px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.hero__heading {
  max-width: 730px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.hero__paragraph {
  max-width: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.hero__button {
  margin-top: 32px;
  padding: 18px 90px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: linear-gradient(138.1deg, #63e1d9 -49.34%, #34a0cd 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
  border: none;
  transition: 0.3s all ease;
  cursor: pointer;
}

.hero__button:hover {
  background: #8adae3;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
}

.benefit .container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.benefit-divs {
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.benefit__info {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.benefit__info:nth-child(even) {
  margin-left: 50px;
}

.benefit__info__heading,
.benefit__info__paragraph {
  text-align: center;
  color: #ffffff;
}

.benefit__info__heading {
  padding-top: 30px;
  max-width: 350px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.benefit__info__paragraph {
  padding-top: 10px;
  max-width: 350px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.benefit__info__image {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.productive .container {
  margin-top: 120px;
  display: flex;
}

.productive__info {
  padding-top: 90px;
  padding-left: 50px;
}

.productive__info__heading {
  max-width: 490px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}

.productive__info__paragraph {
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.productive__info__button {
  display: flex;
  padding-top: 25px;
  padding-bottom: 6px;
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #62e0d9;
  border-bottom: 1px solid #62e0d9;
  transition: 0.3s all ease;
  cursor: pointer;
}

.productive__info__button::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  margin-left: 5px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  transition: 0.3s all ease;
}

.productive__info__button:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.productive__info__button:hover::after {
  background-image: url("../images/arrow-white.svg");
}

.comment .container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.comment__info {
  position: relative;
  padding: 40px 25px 0px;
  max-width: 360px;
  width: 100%;
  background: #202a3c;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.0991282);
  border-radius: 3.93258px;
}

.comment__info:first-child::before {
  position: absolute;
  content: "";
  display: block;
  width: 79px;
  height: 40px;
  top: -35px;
  left: 0;
  z-index: -9;
  background-image: url("../images/quote.svg");
  background-repeat: no-repeat;
}

.comment__info__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.person {
  position: relative;
  padding-top: 24px;
  padding-bottom: 20px;
  margin-left: 30px;
}

.person::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: -30px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../images/satish.svg");
}

.bruce:nth-child(even):before {
  background-image: url("../images/bruce.svg");
}

.iva:nth-child(even):before {
  background-image: url("../images/iva.svg");
}

.person__name {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.person__position {
  padding-top: 4px;
  font-weight: 400;
  font-size: 7px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.access {
  z-index: 990;
}

.access .container {
  padding-bottom: 40px;
  margin-top: 150px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1b2330;
  box-shadow: 5px 5px 8px rgb(3, 3, 3);
  border-radius: 9px;
}

.accesss__info {
  padding-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}

.access__heading {
  max-width: 670px;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}

.access__paragraph {
  padding-top: 16px;
  max-width: 670px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.form {
  margin-top: 35px;
  display: flex;
}

.input {
  padding: 16px 38px;
  padding-right: 200px;
  background: #ffffff;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #07043b;
  outline: none;
  border: none;
}

.form__button {
  padding: 15px 25px;
  margin-left: 30px;
  background: #8adae3;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.footer {
  background-color: #0b1524;
  position: relative;
  margin-top: -100px;
}

.footer .container {
  padding: 150px 0px;
  z-index: -990;
}

.footer {
  z-index: -990;
}

.footer__info {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
}

.location {
  margin-top: 5px;
  margin-right: 30px;
}

.footer__info__paragraph {
  max-width: 350px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer__info-div {
  display: flex;
}

.address_email {
  display: flex;
  flex-direction: column;
}

.address_email > a {
  position: relative;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.address_email > a:before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
}

.number:before {
  left: -30px;
  background-image: url("../images/phone.svg");
}

.email:before {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  left: -30px;
  background-image: url("../images/email.svg");
}

.footer__list {
  list-style-type: none;
}

.footer__item {
  padding-bottom: 16px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}

.social__link {
  text-decoration: none;
  margin-left: 10px;
}

.social__item:hover {
  background: #62e0d9;
}/*# sourceMappingURL=main.css.map */